<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Steve Klabnik's personal website</title>
    <meta name="description" content="The personal website of Steve Klabnik.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Steve Klabnik">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body>
      <h1>Steve Klabnik's personal website</h1>
      <h2>{{ section.title }}</h2>
      {{section.content | safe}}
  </body>
  <footer class="footer">
    <hr />
    <p>&copy; <script>document.write(new Date().getFullYear())</script> Steve Klabnik. All content on this site is available under a
    <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0
    license</a>. Furthermore, everything here is from my personal perspective,
    not that of my employer or anyone else.
  </footer>
</html>
