</html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Steve Klabnik's personal website</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0;">
    <meta name="description" content="Steve Klabnik's personal website.">
    <meta name="author" content="Steve Klabnik">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>

  <body>
    {{ content }}
  </body>
  <footer class="footer">
  &copy; 2017 Steve Klabnik. All content on this site is available under
  a <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0 license</a>.
  </footer>
</html>

